.App {
  text-align: center;
}

.breed-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.image {
 
  width: 150px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(4, 61, 128);
  border-radius: 50%;
}

